*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }
  
  body {
	font-family: 'Nunito', sans-serif;
	color: #060707;
	background-color: #f8f4f8;
  }
  
  form {
	max-width: 300px;
	margin: 5px auto;
	padding: 5px 5px;
	background: #ffffff;
	border-radius: 8px;
	border: 0.5px solid rgb(202, 202, 202);
  }
  
  h1 {
	margin: 0 0 20px 0;
	text-align: center;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="file"],
  textarea,
  select {
	background: rgba(255,255,255,0.1);
	border: none;
	font-size: 16px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 15px;
	width: 100%;
	background-color: #ffffff;
	color: #020202;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
	border: 1px solid #ccc;
	border-radius: 4px;
  }
  
  
  label {
	display: block;
	margin-bottom: 8px;
  }
  

  li{
      list-style: none;
  }

button{
	width: 100%;
}
  
  @media screen and (min-width: 600px) {
  
	form {
	  max-width: 80%;
	  box-shadow: 0.5px 0.5px 5px 0.5px rgb(128, 127, 127);
	}
  
  } 

  @media screen and (max-width: 600px) {
  
	form {
	  max-width: 100%;
	  box-shadow: 0.5px 0.5px 5px 0.5px rgb(128, 127, 127);
	  border: none;
	}
  
  }
  