h1{
    text-align: center;
    padding-top:3rem ;
    font-weight: 700;
  }
  
  
  hr{
    width: 80%;
    margin: auto;
  }
  

  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%; 
    display: inline-block;
    padding:2px;
    margin:10px 2%;
    justify-content: center;
    border: 2px solid #f8f4f8;
    cursor: pointer;
    
}

.card:hover {
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.4);
}

.card:hover h5{
  color: rgb(161, 58, 17);
}



@media screen and (max-width: 750px) {
  
	.card {
	  max-width: 100%;
    margin-left: 15%;
    
	}
  .container{
    width: 80%;
  }
  

}