{% extends 'base.html' %}
{% load static %}

{% block css %}{% static 'recipe/detail.css' %}{% endblock css %}

{% block content %}
     <section>
        <h1 class="desc">{{detail.food_name}}</h2>
        <hr>

        <div class="responsive container">
            <div class="detail">
                <img src="{{detail.image.url}}"> 
                <div class="detail_side">
                    <h5>preparation time:</h5>
                    <p>{{detail.preparation_time}} minute</p>
                    <h5>category:</h5>
                    <p>{{detail.category}}</p>
                    <h5>native food of:</h5>
                    <p>{{detail.native_food_of}}</p>
                    <h5>cuisine type:</h5>
                    <p>{{detail.cuisine_type}}</p>
                </div>
            </div>
            <form action="{% url 'favouries-page' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="favourite_id" value={{detail.id}}> 

                {% if detail.id in request.session.favourite_recipes %}
                    <button class="btn btn-outline-danger" type="submit" name='remove'> Remove from Favorite</button>
                {% else %}
                    <button class="btn btn-outline-danger" type="submit" name='add'> Add to Favorite</button>
                {% endif %}
            </form>
        </div> 
        <hr>

            <div>
                <p>{{detail.description}}</p>
            </div>

        <hr>

        <div>
            <h3>Ingredients :-</h3>
            <ul>
                <div>{{detail.ingredients}}</div>
            </ul>
        </div> 
        <hr> 
        <div>
            <h3>How to cook:</h3>
            <p>{{detail.preparation}}</p>
        </div>
        
  


    </section>
    

{% endblock content %}