{% extends 'base.html' %}
{% load static %}

{% block title %} Chakka Recipe Manager {% endblock title %} 
{% block css %} {% static 'recipe/main.css' %}{% endblock css %}

{% block content %}

<h1>Chakka The Recipe Manager</h1>
    {% for a in recipes %}

        <a href="{% url 'detail-page' a.pk %}" >
            <img src="{{a.image.url}}" alt="">
            <p>{{a.food_name}}</p>
        </a>
    
    {% endfor %}

{% endblock content %}
{% block js %}{% static 'recipe/main.js' %}{% endblock js %}