{% extends 'base.html' %}
{% load static %}

{% block title %} Chakka Recipe Manager {% endblock title %} 
{% block css %} {% static 'recipe/main.css' %}{% endblock css %}

{% block content %}

    
	<h1>Chakka The Recipe Manager</h1>
    <hr> 


    <form id="search_form" method="GET" class="form-inline my-2 my-lg-0 ">
        {{filter.form}}
      <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
    </form>  


    <div class="wrapper">
        <a class="btn btn-outline-danger" href="{% url 'add-recipe' %}" >Add Recipe</a>
        <a class="btn btn-outline-danger" href="{% url 'favouries-page' %}">favourites</a>
    </div>
    
    {% if show_img%}
        <div class="quote_container">
            <img class="quote_image" src="https://i.pinimg.com/originals/f3/d5/d7/f3d5d72ebf4f889d9dd7e46d64a98f0d.jpg" alt="">
            <p id="quote_p">If you are a chef, no matter how good a chef you are, it's not good cooking for yourself; the joy is in cooking for others.</p>
         </div>  
    {% endif %}
  

       


    <div class="container">

        {% if no_result %}
            <h3>Nothing matches your search!</h3>
        {% else %}
            {% for a in recipes %}

            <a href="{% url 'detail-page' a.pk %}" class="card">
                <img src="{{a.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{a.food_name}}</h5>
                </div>
            </a>
            {% endfor %} 
        
        {% endif %}  

    </div> 


       <footer class="page-footer font-small  ">

            <div class="footer-copyright text-center py-3 text-dark">© 2021 Copyright:
                <a href="#"> chakka the recipe manager</a>
            </div>
        </footer>
  
{% endblock content %}
{% block js %}{% static 'recipe/main.js' %}{% endblock js %}