<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" href="https://i.pinimg.com/originals/6c/81/8c/6c818c43c24fd9054e690171a99c09b8.png">
    <link rel="stylesheet" href="{% block css %}{% endblock css %}">

</head>
<body>
    {% block content %}{% endblock content %}
    <script src="{% block js %}{% endblock js %}"></script>
</body>
</html>